
.site-header {
  position: fixed;
  top: 0;
  left: 0;

  padding-top: 0px;
  z-index: 10;
}


.nav {
  display: flex;
  gap: 1px; /* ボタン間の余白 */
}

/* ボタン */
.nav a {
  display: inline-block; /* ← 文字の長さでサイズ変わる */

  background: #c5c5c5; /* グレー */
  color: #000000;
  padding: 5px 18px;
  font-size: 13px;
  text-decoration: none;
  border: 1px solid #ffffff00; /* ← これ追加 */
  transition: 0.3s;
}

/* ホバーで反転 */
.nav a:hover {
  background: #5e5e5e;
  color: #ffffff;
}

/* Creditページ全体 */
.credit {
  width: min(700px, 90vw);
  margin: 0; /* ← これに変更 */
  text-align: left;
}
/* 各作品 */
.credit-item {
  margin-bottom: 40px;
}

.title {
  font-size: 24px;
  color: #ffffff;
  text-shadow: 2 2px 8px rgba(0,0,0,0.6), 0 0 2px rgba(0,0,0,0.8);
}
/* タイトル */
.credit-item h2 {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 8px;
  letter-spacing: 0.05em;
  text-shadow: 0 2px 8px rgba(0,0,0,0.6), 0 0 2px rgba(0,0,0,0.8);
}

/* キャスト */
.credit-item p {
  font-size: 13px;
  line-height: 1.8;
  color: #fbfbfb;
    text-shadow: 0 2px 8px rgba(0,0,0,0.6), 0 0 2px rgba(0,0,0,0.8);

}

.label {
  font-size: 11px;
  opacity: 0.8;
  margin-right: 8px;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.main {
  height: calc(100vh - 60px); /* ← ヘッダーの高さ分引く */
  margin-top: 60px;
  display: flex;
  justify-content: center; /* 横中央 */
  align-items: center;     /* 縦中央 */
}