/* リセット */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 画面ど真ん中 */
body {
  height: 100vh;
  display: flex;
  justify-content: center; /* 横中央 */
  align-items: center;     /* 縦中央 */
  background: url("../img/haikei.jpg") center no-repeat;
  background-size: cover;
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN", "Yu Gothic", sans-serif;
}

/* ギャラリー */
.gallery {
  width: min(900px, 80vw);
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* ← ここ重要 */
  gap: 10px;
}

/* アイテム */
.item {
  aspect-ratio: 4 / 3;
  overflow: hidden;
  display: block;
  position: relative;
}

/* 画像 */
.item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ホバー暗く */
.item::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0);
  transition: 0.3s;
}

.item:hover::after {
  background: rgba(0,0,0,0.35);
}


/* 上2つは全部中央 */
.center-text .text {
  align-items: center;
}

.center-text .text p {
  text-align: center;
}

/* ホバーで表示 */
.item:hover .text {
  opacity: 1;
}


.site-header {
  position: fixed;
  bottom: 0;   /* ← 下に固定 */
  left: 0;
  padding: 15px;
  z-index: 10;
}


.nav {
  display: flex;
  gap: 0px; /* ボタン間の余白 */
}


.nav a {
  display: inline-block;

  color: #000;
  background: none;

  padding: 5px 0;
  font-size: 13px;
  text-decoration: none;

  margin-top: 15px;
  margin-left: 15px;

  transition: color 0.3s ease;
}

/* ホバーは色だけ変える */
.nav a:hover {
  color: #dbdbdb;
}
.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.85);
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-content {
  width: min(90vw, 1000px);
}

.modal iframe {
  width: 100%;
  aspect-ratio: 16 / 9;
  border: none;
}

.close {
  position: absolute;
  top: 30px;
  right: 40px;
  font-size: 32px;
  color: white;
  cursor: pointer;
}

@media (max-width: 768px) {
  .site-header {
    top: 0;
    bottom: auto; /* ← 下固定を解除 */
    left: 0;
  }

    .gallery {
    grid-template-columns: repeat(2, 1fr); /* ← 2列にする */
    width: 90vw; /* ← 少し広げる */
  }
}